<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" href="../../favicon.ico">

   <title>Describe Your Bar</title>

   
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- <link href="https://github.com/silviomoreto/bootstrap-select/blob/master/dist/css/bootstrap-select.min.css" rel="stylesheet"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

 </head>

 <body>

   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">Describe Your Bar</a>
       </div>
       <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <!-- <li class="active"><a href="#">Home</a></li> -->
           <!-- <li><a href="#about">About</a></li>
           <li><a href="#contact">Contact</a></li> -->
           <!-- <li><a href="https://www.dropbox.com/s/i7dyptzpe3ilwsl/Eric_Carlson_Week4_wed_Demo.pdf?dl=0">Slides</a></li> -->
            <li><a href="http://www.slideshare.net/EricCarlson24/describeyourbar" target='_blank'>Slides ppt</a></li>
           
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </div>


   
    <!-- Header -->
    <header id="top" class="header" style="padding-top:5%;">
        <div class="text-vertical-center">
            <h1>Describe Your Bar</h1>
            <h3>Search and Explore Bars using Natural Language</h3>
            <br><br><br>

      
            <form  action="/output" method="GET">
                
                <div class="form-group">
                <label for="sel_city">Select City:</label><br>
                <div class="btn-group bootstrap-select dropdown" align="center" style="width:auto; margin:0 auto;">
                    <select class="selectpicker" data-live-search="true" id="sel_city" name="sel_city" style="width:auto;">
                      <option selected>San Francisco, CA</option>
                      {% for city_state in city_state_list %}
                        <option>{{ city_state['city'] }}</option>
                      {% endfor %}
<!--                       <option>Las Vegas, NV</option>
                      <option>Pheonix, AZ</option> -->
                  </select>
                </div>
                <div class="bs-docs-example no-code">

                     <br>

              <div class="form-group">

                <textarea rows="6" cols="50" id="text_review" name='text_review' style="font-size: 18px;">I want to eat oysters with a view of the bay</textarea>
              </div>
              <div>
                <button type="submit" class="btn btn-default btn-lg" width="300px" style:"padding: 18px 24px; font-size: 24px;">Search</button>
              </div>
            </form>

              <br><br>
              <!-- <div>
                  <label>Examples:</label> 
              </div> -->
              <!-- <div> 
                <a href="http://planck.ucsc.edu:5000/output?text_review=I+want+a+dive+bar+where+the+jukebox+only+plays+Poison+and+they+serve+philly+cheese+steaks.+">- I want a dive bar where the jukebox only plays Poison and they serve philly cheese steaks.  </a>
              </div>

              <div>
                <a href="http://planck.ucsc.edu:5000/output?text_review=hey+had+one+of+the+best+happy+hours+I+have+ever+had%2C+with+a+great+selection+of+craft+beers.+My+wife+loved+the+cocktails.">- They had one of the best happy hours I have ever had, with a great selection of craft beers.   My wife loved the cocktails.</a>
              </div>
              <div>
                <a href="http://planck.ucsc.edu:5000/output?text_review=We+partied+down+frat+style+at+the+club%2C+and+then+lost+all+our+money+on+video+poker.+++The+bartender+didn%27t+even+comp+our+drinks%21++%0D%0A">- We partied down frat style at the club, and then lost all our money on video poker.   The bartender didn't even comp our drinks!</a>
              </div> -->

            <!-- <a href="#about" class="btn btn-dark btn-lg">Find Out More</a> -->
        </div>
    </header>

    <body>

    </body>

  <div>
    

  </div> <!-- /.container-->

   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="static/js/bootstrap.min.js"></script>
       <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
</body>
</html>